@using Agency.Feature.About.Models

@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<TeamItem>

<div class="col-sm-4">
    <div class="team-member">
        @RenderImage(x => x.Image, isEditable: true, parameters: new { @Class = "mx-auto rounded-circle" })
        <h4>@Editable(x => x.FirstName)</h4>
        <p class="text-muted">@Editable(x => x.Role)</p>
        <ul class="list-inline social-buttons">
            <li class="list-inline-item">
                <a href="@Model.Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="@Model.Facebook">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="@Model.Linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
